ENVIRONMENT=development
APP_NAME="Leely API"
VERSION=0.1.0
LOG_LEVEL=INFO
API_V1_STR=/api/v1


FRONTEND_ORIGINS=http://localhost:5173


TRAVILY_API_KEY=replace-with-your-tavily-api-key


SENTRY_URL="you sentry website api"