ENVIRONMENT="development"
APP_NAME="Ark Agent"
VERSION="0.1.0"
LOG_LEVEL="INFO"
API_V1_STR="/api/v1"

FRONTEND_ORIGINS="your ftonend url"
SENTRY_URL="sentry logs url"

# travily search configs --------
TRAVILY_API_KEY="travily search api"