# app configs
ENVIRONMENT="development"
APP_NAME="Ark Agent"
VERSION="0.1.0"
LOG_LEVEL="DEBUG"
API_V1_STR="/api/v1"

FRONTEND_ORIGINS="http://localhost:5173"

# neon db configs
DB_URL="your_db_url"

# redis configs
REDIS_DB_URL="your_redis_url"
REDIS_PASSWORD="your_redis_password"
REDIS_USERNAME="your_redis_username"
REDIS_PORT="your_redis_port"
REDIS_MAX_CONNECTION="10"

# gemini configs
GOOGLE_GEMINI_API_KEY="your_gemini_api_key"
GEMINI_PROJECT="your_gemini_project"
GEMINI_PROJECT_NUMBER="your_gemini_project_number"

# tavily search configs
TRAVILY_API_KEY="your_tavily_api_key"

# google cloud console configs
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
SECRET_KEY="your_secret_key"

# authentication configs
AUTH_REDIRECT_URL="http://localhost:8000/api/v1/google/auth/callback"
JWT_SECRET_KEY="your_jwt_secret_key"
AUTHORIZE_URL="https://accounts.google.com/o/oauth2/auth"
ACCESS_TOKEN_URL="https://oauth2.googleapis.com/token"
JWKS_URL="https://www.googleapis.com/oauth2/v1/certs"
PROJECT_ID="your_project_id"

HTTPONLY=True
SECURE=False
SAMESITE=lax
